n8n-draft-generator.json
{
  "name": "Knowledge Gap — Draft Generator (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "📡 Receive draft request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ],
      "webhookId": "generate-draft-001"
    },
    {
      "parameters": {
        "jsCode": "const wh = $input.first().json.body;\n\nconst userMessage = `Write a knowledge base article for the **${wh.suggested_department}** department that answers:\n\n> ${wh.query}\n\nAdditional context from the requester: ${wh.message || 'No additional details provided.'}\n\nMake sure the article would help future employees who search for similar questions.`;\n\nconst apiKey = wh.api_key || 'YOUR_DEEPSEEK_API_KEY';\n\nconst deepseekResp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.deepseek.com/chat/completions',\n  headers: {\n    'Authorization': `Bearer ${apiKey}`,\n    'Content-Type': 'application/json',\n  },\n  body: {\n    model: 'deepseek-chat',\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a technical documentation writer for TechCorp. Write a comprehensive, well-structured knowledge base article in markdown. Include: a clear H1 title, ## sections for Overview / Key Points / Detailed Information / Related Resources, bullet points for quick scanning, and actionable takeaways. Be thorough but concise. Write ONLY the markdown article — no preamble, no meta-commentary.',\n      },\n      {\n        role: 'user',\n        content: userMessage,\n      },\n    ],\n    temperature: 0.2,\n    max_tokens: 2000,\n  },\n  json: true,\n});\n\nlet draftContent = '';\ntry {\n  draftContent = deepseekResp.choices[0].message.content;\n} catch (e) {\n  draftContent = `# ${wh.query}\n\n> ⚠️ Auto-generated fallback for **${wh.suggested_department}** department.\n\n*DeepSeek did not return content. Please review manually.*`;\n}\n\nreturn {\n  id: wh.id,\n  draft_content: draftContent,\n};"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "🤖 Generate draft (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "✅ Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "📡 Receive draft request": {
      "main": [
        [
          {
            "node": "🤖 Generate draft (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Generate draft (Code)": {
      "main": [
        [
          {
            "node": "✅ Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "3.0.0",
  "active": false
}