n8n-complex-query-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-mcp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1968,
        4192
      ],
      "id": "f1a2b3c4-1111-4111-a111-111111111111",
      "name": "Receive Chat Message",
      "webhookId": "chat-mcp-001"
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.body.message || $input.first().json.message || '';\n\nconst prompt = `You are a helpful TechCorp assistant. Use search_knowledge_base to find relevant documents.\n\nUSER QUESTION: ${message}\n\nINSTRUCTIONS:\n1. Search for relevant documents (max 4 searches total).\n2. Write a natural, conversational blog-style answer. Use paragraphs, not tables or bullet-point lists.\n3. Write as if explaining to a colleague over coffee — clear, friendly, informative.\n4. Cite document names naturally in your sentences.\n5. Put your answer in this JSON format at the very end:\n{\"answer\":\"your natural blog-style answer here\",\"sources\":[\"doc1.pdf\",\"doc2.pdf\"]}\n\nDo NOT use markdown tables. Do NOT use bullet points. Write in flowing paragraphs.`;\n\nreturn { chatInput: prompt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        4192
      ],
      "id": "f2b3c4d5-2222-4222-b222-222222222222",
      "name": "Build Chat Prompt"
    },
    {
      "parameters": {
        "options": {
          "maxIterations": 20,
          "systemMessage": "You are a helpful TechCorp assistant. Search knowledge_base for relevant documents. Write naturally in blog style — flowing paragraphs, no tables, no bullet lists. Limit to 2-4 searches. End with a JSON object containing your answer and sources."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2512,
        4192
      ],
      "id": "f3c4d5e6-3333-4333-c333-333333333333",
      "name": "AI Chat Agent"
    },
    {
      "parameters": {
        "endpointUrl": "http://backend:8000/mcp/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        2512,
        4768
      ],
      "id": "f4d5e6a7-4444-4444-d444-444444444444",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-v4-pro",
          "mode": "list",
          "cachedResultName": "deepseek-v4-pro"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2512,
        4480
      ],
      "id": "f5e6a7b8-5555-4555-e555-555555555555",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KT2cQxSxs9cfdLA6",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json;\nlet text = output.output || output.text || JSON.stringify(output);\n\n// 1. Try raw JSON parse\ntry { const p = JSON.parse(text); if (p.answer) return p; } catch(e) {}\n\n// 2. Extract from ```json fence\nlet m = text.match(/```json\\s*([\\s\\S]*?)```/);\nif (!m) m = text.match(/```\\s*([\\s\\S]*?)```/);\nif (m) { try { const p = JSON.parse(m[1].trim()); if (p.answer) return p; } catch(e) {} }\n\n// 3. Brace-counting: find first {, track to matching }\nconst start = text.indexOf('{');\nif (start !== -1) {\n  let depth = 0, inStr = false, esc = false;\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n    if (esc) { esc = false; continue; }\n    if (ch === '\\\\') { esc = true; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; }\n    if (inStr) continue;\n    if (ch === '{') depth++;\n    if (ch === '}') { depth--; if (depth === 0) {\n      try { const p = JSON.parse(text.substring(start, i + 1)); if (p.answer) return p; } catch(e) {}\n      break;\n    }}\n  }\n}\n\n// 4. Fallback: strip code fences and return raw text\nconst cleaned = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\nreturn { answer: cleaned.slice(0, 2000), sources: [] };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        4192
      ],
      "id": "f6a7b8c9-6666-4666-f666-666666666666",
      "name": "Parse Chat Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3056,
        4192
      ],
      "id": "f7b8c9d0-7777-4777-a777-777777777777",
      "name": "Respond to Chat"
    }
  ],
  "connections": {
    "Receive Chat Message": {
      "main": [
        [
          {
            "node": "Build Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Prompt": {
      "main": [
        [
          {
            "node": "AI Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Chat Agent": {
      "main": [
        [
          {
            "node": "Parse Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat Response": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebe530ea277d2f00c375de5d4a876bd2de99292dc6ec6aa95b0bfd1e1396d836"
  }
}